<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/ayuda.css">
    <title>Ayuda</title>
</head>
<body>
    <nav class="navbar-ayuda">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="reportes.html">Reportes</a></li>
            <li><a href="/ayuda.html">Ayuda</a></li>
        </ul>
    </nav>

    <div class="container-ayuda">
        <div class="top-panel-ayuda">
            <h1>Ayuda</h1>
        </div>

        <div class="left-panel-ayuda">
            <p><strong>Información del estudiante:</strong></p>
            <ul>
                <li>Nombre: Brayan Emanuel Garcia</li>
                <li>Carnet: 202300848</li>
            </ul>
        </div>

        <div class="center-panel-ayuda"> 
            <p><strong>Acerca de la aplicación:</strong> Esta aplicación simula el ensamblaje de productos utilizando diferentes líneas de producción para optimizar el proceso de fabricación. La aplicación permite cargar configuraciones de máquinas y productos, ejecutar simulaciones y generar reportes gráficos y HTML.</p>
        </div>

        <div class="bottom-panel-ayuda">
            <h3>Documentación:</h3>
            <a href="https://github.com/Emmagx/IPC2_Proyecto2_202300848.git" target="_blank">
                <img class="imagen-github-ayuda" src="../static/github.jpg" alt="Repositorio GitHub" />
            </a>
        </div>
    </div>
</body>
</html>
