<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Simulador de Ensamblaje</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="reportes.html">Reportes</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="left-panel">
            <h3>Subir archivo</h3>
            <form action="/" method="POST" enctype="multipart/form-data">
                <input type="file" id="file-upload" name="file" accept=".xml" required>
                <button type="submit" class="upload-btn">Subir Archivo</button>
            </form>
            <h3>Componentes</h3>
            <ul id="componentes-list">
                {% if componentes %}
                {% for componente in componentes %}
                <li>{{ componente }}</li>
                {% endfor %}
                {% else %}
                <li>No hay componentes disponibles.</li>
                {% endif %}
            </ul>
            
            
            <script>
                function loadComponents(maquina) {
                    fetch(`/get_components/${maquina}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error en la red');
                        }
                        return response.json();
                    })
                    .then(data => {
                        let componentesList = document.getElementById("componentes-list");
                        componentesList.innerHTML = ""; // Limpiar la lista de componentes actual
                        
                        if (Array.isArray(data) && data.length > 0) { // Ensure data is an array
                            data.forEach(componente => {
                                let li = document.createElement("li"); // Ajustado aquí
                                li.textContent = componente;
                                componentesList.appendChild(li);
                            });
                        } else {
                            let li = document.createElement("li");
                            li.textContent = "No hay componentes disponibles.";
                            componentesList.appendChild(li);
                        }
                    })
                    .catch(error => {
                        console.error("Error al cargar componentes:", error);
                    });
                }
                
            </script>
            
        </div>
        
        <div class="center-panel">
            <h3>Máquina / Productos</h3>
            <table>
                <thead>
                    <tr>
                        <th>Máquina</th>
                        <th>Producto</th>
                    </tr>
                </thead>
                <tbody>
                    {% if datos %}
                    {% for fila in datos %}
                    <tr>
                        <td>{{ fila.maquina }}</td>
                        <td>{{ fila.producto }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">No hay datos disponibles.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            
            <form action="/simulate" method="POST" enctype="multipart/form-data">
                <label for="maquina">Máquina</label>
                <select name="maquina" id="popup-maquina" onchange="loadComponents(this.value)" required>
                    {% if maquinas %}
                    <option> Seleccion</option>
                    {% for maquina in maquinas %}
                    <option value="{{maquina}}">{{ maquina }}</option>
                    {% endfor %}
                    {% else %}
                    <option>No hay máquinas disponibles.</option>
                    {% endif %}
                </select>
                
                <!-- Select para los productos -->
                <label for="producto">Producto</label>
                <select name="producto" id="popup-producto" required>
                    {% if producto %}
                    <option> Seleccion</option>                 
                    {% for prod in producto %}

                    <option value="{{prod}}">{{ prod }}</option>
                    {% endfor %}
                    {% else %}
                    <option>No hay productos disponibles.</option>
                    {% endif %}
                </select>
                <button class="process-btn" id="initialize-btn">Inicializar Proceso</button>
            </form>
            <div class="bottom-panel">
                <div class="bottom-panel">
                    <div class="progress-container">
                        <div class="circle-progress" id="progress-circle">
                          <div class="circle-content">
                            <span id="progress-percent">25%</span>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
        
        <div class="right-panel">
            <h3>Grafo</h3>
            <div class="grafo-box">
                <img id="grafo-image" src="../{{grafo_image}}" alt="Grafo" />
            </div>
            
            <h3>Pasos</h3>
            <iframe class="iframe" src="../{{report_html}}" width="100%" height="250" frameborder="0"></iframe>
            <div class="timer">
                <h3>Tiempo Optimo</h3>
                <div class="circle">
                    <p id="time">{{tiempo}}</p>
                </div>
            </div>
        </div>

</body>
</html>
